* {
    font-family: 'Albert Sans', sans-serif;
}

.header {
    padding: 30px 0px;
}

.header .btn-class {
    font-weight: 600;
    font-size: 12.7844px;
    padding: 12px 38px;
}


.header .btn-class {
    padding: 15px 60px;
}
.boxes{
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.main-sec a{
    text-decoration: none;
    color: black;
}
.box1{
    background-image: url('../images/lp-1.jpeg');
}
.box2{
    background-image: url('../images/lp-2.jpeg');
}
.box3{
    background-image: url('../images/lp-3.jpeg');
}
.caption{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 600;
}